<footer>
  <div class="row">
    <div class="card">
      <h4>Official address</h4>
      <p>625 Empumalanga <br />Hwange<br />Zimbabwe</p>
    </div>
    <div class="card">
      <h4>Business Adress</h4>
      <p>Coronation Drives<br />Former TM Flats 1 <br />Hwange</p>
    </div>
    <div class="card">
      <h4>Sales Contact</h4>
      <p>
        +263775231426 <br />+263812830008 <br />
        +273773519523
      </p>
    </div>
    <div class="card">
      <h4>Social media</h4>
      <a href="https://www.facebook.com/millenniumprinters.zw">Facebook</a>
    </div>
  </div>
</footer>
