<nav class="navbar">
  <a href="" class="navbar-brand">Calyptic Computers</a>

  <a href="#" class="navbar-toggler" id="navbarToggler">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span
  ></a>

  <div class="collapse navbar-collapse" id="mainNavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link my-2 p2 m-3" href="index.html">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link my-2 p2 m-3" href="about.html">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link my-2 p2 m-3" href="contactus.html">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link my-2 p2 m-3" href="Blog.html">Blog</a>
      </li>
    </ul>
  </div>
  <form class="form-inline" enctype="multipart/form-data">
    <input
      class="”form-control"
      mr-sm-2”
      type="”text”"
      placeholder="”Search”"
    />
    <button class="btn btn-outline-success my-2 my-sm-0" type="”submit”">
      Search
    </button>
  </form>
</nav>
